
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

body{
    background-color: #965fb3;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    font-family: Inconsolata, serif;

}

.partner {
    margin-right: 5px;
}
