body{
    background-color: #965fb3;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;

}

.partner {
    border: 1px solid #00ff00;
    margin-right: 5px;
}
